<nav>
<label class="logo"><span class="logo-text-coin">Coin</span>Tract</label>
<input type="checkbox" id="check">
<label for="check" class="checkbtn">
  <i class="fas fa-align-justify"></i>   
</label>
 
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Feedback</a></li>
</ul>
</nav>